.consultation__list-title {
    margin: 0 0 6px;
    text-transform: uppercase;
    text-align: end;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
}