.main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 90px 0 70px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .main {
        background-image: url('../../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        object-position: 0%;
        flex-direction: column;
        padding: 40px 15px 60px;
    }
}