.page__red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    top: 251px;
    left: -102px;
    background-color: #961A1A;
    opacity: .5;
    filter: blur(196px);
    z-index: -1;
}

@media screen and (max-width: 950px) {
    .page__red-light {
        display: none;
    }
}
