.welbex__subtitle {
   font-family: 'Montserrat';
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   color: #E4E5EA; 
   margin: 0;
   width: 275px;
}

@media screen and (max-width: 950px) {
    .welbex__subtitle {
        width: 290px;
        margin: 0 auto 0;
    }
}