.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

@media screen and (max-width: 950px) {
    .footer__contacts {
        align-items: start;
        width: 290px;
    }
}